body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card {
  border: 2px #9B9BBD solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 27%;
  margin: 3%;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  background-color: #73738C;
  border-radius: 10px;
}

.photo {
  height: 300px; 
  width: 300px; 
  border-radius: 7px;
}
.date {
  width: 100%;
}
.title {
  width: 100%
}

body {
  background-image: linear-gradient(160deg, #161652, black);
}
p:hover {
  color: royalblue;
}

